<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dataservicios.systemauditor"  >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- The following two permissions are not required to use

         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- PERMISO PARA HACER LLAMADA DESDE LA APP A UN PHONO-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <application
        android:name="app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_agente"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        >
    <activity
        android:name="com.dataservicios.systemauditor.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.dataservicios.systemauditor.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="com.dataservicios.systemauditor.LOGIN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
            android:name="com.dataservicios.systemauditor.MapaRuta"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >

            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.MAPARUTAS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    <activity
        android:name="com.dataservicios.systemauditor.ListAgenteActivity"
        android:screenOrientation="portrait"
        android:label="Mis Agentes"
        android:theme="@style/AppThemeAdminPanel"

        >
        <intent-filter>
            <action android:name="com.dataservicios.systemauditor.LISTGENTE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.dataservicios.systemauditor.PanelAdmin"
        android:screenOrientation="portrait"
        android:label="@string/app_name"
        android:theme="@style/AppThemeAdminPanel"
        >
        <intent-filter>
            <action android:name="com.dataservicios.systemauditor.PANELADMIN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <activity
            android:name="com.dataservicios.systemauditor.PuntoVenta"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.PUNTOVENTA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.dataservicios.systemauditor.PuntosVenta"
            android:screenOrientation="portrait"
            android:label="PDVs del día"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.PUNTOSVENTA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dataservicios.systemauditor.Encuesta"
            android:screenOrientation="portrait"
            android:label="PDVs del día"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.ENCUESTA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.systemauditor.PresenciaProducto"
            android:screenOrientation="portrait"
            android:label="PDVs del día"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.PRESENCIAPRODUCTO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.systemauditor.IngresarEspacios"
            android:screenOrientation="portrait"
            android:label="PDVs del día"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.INGRESARESPACIOS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.systemauditor.DetallePdv"
            android:screenOrientation="portrait"
            android:label="Detalle PDV"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.DETALLEPDV" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--ACTIVIDADES SOLO PARA INTERBANK-->

        <!--ACTIVIDADES SOLO PARA INTRODUCCION-->
        <activity
            android:name="com.dataservicios.interbank.introduccion"
            android:screenOrientation="portrait"
            android:label="Introducción"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.INTRODUCCION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.introduccionDos"
            android:screenOrientation="portrait"
            android:label="Introducción"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.INTRODUCCIONDOS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dataservicios.interbank.introduccionTres"
            android:screenOrientation="portrait"
            android:label="Introducción"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.INTRODUCCIONTRES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <!--ACTIVIDADES SOLO PARA USO INTERBANK-->
        <activity
            android:name="com.dataservicios.interbank.UsoIterbankAgente"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.USOIBK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.UsoInterbankAgenteSegundo"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.USOIBKSEGUNDO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.UsoInterbankAgenteTercero"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.USOIBKTERCERO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dataservicios.interbank.UsoInterbankAgenteCuarto"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.USOIBKCUARTO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dataservicios.interbank.UsoInterbankAgenteQuinto"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.USOIBKQUINTO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dataservicios.interbank.UsoInterbankAgenteSexto"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.USOIBKSEXTO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dataservicios.interbank.UsoInterbankAgenteSiete"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.USOIBKSIETE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--ACTIVIDADES SOLO PARA  EvaluacionTransaccion INTERBANK-->
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccion"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionUno"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONUNO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionDos"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONDOS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionTres"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONTRES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionCuatro"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONCUATRO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionCinco"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONCINCO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionSeis"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONSEIS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionSeisSiete"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONSEISSIETE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionSiete"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONSIETE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionOcho"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONOCHO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionNueve"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONNUEVE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionDiez"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONDIEZ" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTransaccionOnce"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRANSACCIONONCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--ACTIVIDADES SOLO PARA  EvaluacionTrato INTERBANK-->

        <activity
            android:name="com.dataservicios.interbank.EvaluacionTrato"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRATO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTratoDos"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRATODOS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.EvaluacionTratoTres"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.EVTRATOTRES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--ACTIVIDADES SOLO PARA  Información INTERBANK-->

        <activity
            android:name="com.dataservicios.interbank.informacion"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dataservicios.interbank.informacionCuatro"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.INFOCUATRO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




        <activity
            android:name="com.dataservicios.systemauditor.AndroidCustomGalleryActivity"
            android:screenOrientation="portrait"
            android:label="Galeria de Agente"
            android:theme="@style/AppThemeAdminPanel">
        </activity>

        <activity
            android:name="com.dataservicios.interbank.PalmeraBloqueador"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
        </activity>

        <activity
            android:name="com.dataservicios.interbank.PalmeraPrecio"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
        </activity>

        <!-- ABOUT-->
        <activity
            android:name="com.dataservicios.systemauditor.About"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.systemauditor.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

     <uses-library android:name="com.google.android.maps"/>
     <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--Api Ke y producción-->
     <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCPGLM8v0s0gmxgav-8P8jht06L9pOUUJ4"/>

        <!--key google mapas debuger-->
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyBQJ8-4bDIXBdE-9Qg-f6tIpzt5V4xKbyg"/>-->


        <service android:name="com.dataservicios.Services.UploadService" android:label="@string/app_name">
        </service>
        <service
            android:name="com.dataservicios.Services.MonitoGPSServices"
            android:label="Alicorp GPS Location" />
    </application>





</manifest>
